<main role="main" class="container">
  <div class="card">

    <div class="card-header">
      URL shortener
    </div>

    <div class="card-body">
      <form action="/" method="POST">
        <div class="form-group">
            <label for="original">Original URL</label>
            <input type="text" class="form-control" id="original" name="original">
        </div>

        <button type="submit" class="btn btn-primary" onclick="joinGame()">Minify</button>
      </form>
    </div>

    <div class="card-footer text-muted">
        <a href="{{ mini }}">Tiny URL: {{ mini }}</a>
    </div>
  </div>
</main>
