<main role="main" class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Original</th>
            <th scope="col">Tiny</th>
            <th scope="col">Times visited</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{original}}</td>
                <td>{{tiny}}</td>
                <td>{{timesVisited}}</td>
            </tr>
        </tbody>
    </table>
</main>
